ul {
  list-style-type: none;
  margin-top: 40px;
  text-align: center;
  margin-right: 10px;
}

.Weather {
  background-color: rgb(246, 246, 246);
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/821/959/non_2x/natural-landscape-fall-season-free-vector.jpg);
  background-position: center;
  background-blend-mode: color-burn;
  margin-bottom: 180px;
}
