ul {
  list-style-type: none;
  margin-top: 40px;
  text-align: center;
  margin-right: 10px;
  font-size: 20px;
  color: #fc6366;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.Weather {
  background-color: rgb(246, 246, 246);
  background-image: url(https://static.vecteezy.com/system/resources/previews/002/821/959/non_2x/natural-landscape-fall-season-free-vector.jpg);
  background-position: center;
  background-blend-mode: color-burn;
  margin-bottom: 180px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.temp {
  color: #ff7f50;
}
.city {
  font-size: xx-large;
  color: #60d0d6;
}
.celsiusUnit {
  font-size: 30px;
}
